.profile__edit-button {
    margin-top: 17px;
    background-image: url('../../../images/Edit-Button.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-position: 50%;
    grid-column: 2/3;
    border: 1px solid #fff;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media (max-width:1068px) {
    .profile__edit-button {
        align-self: center;
        width: 18px;
        height: 18px;
        margin-top: 21px;
        background-size: 100%;
    }
}