.profile{
    margin: 0 auto;
    max-width: 880px;
    align-items: center;
    padding: 36px 200px 55px 200px;
}
@media (max-width:1068px) {
    .profile{
        max-width: 282px;
        padding: 40px 0 36px 0;
    }
    
}
@media (max-width:320px) {
    .profile{
        padding:40px 19px 36px 19px;
    }
}