.popup__close-icon {
    background-image: url("../../../images/close-icon.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: transparent;
    top: -40px;
    right: -40px;
    padding: 0;
    border: 0px;
    background-size: cover;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: .6;
}

@media (max-width:565px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        right: 0;
        top: -35px;
    }
}