.form__input {
    width: 358px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 10px 0;
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, .2);
    position: relative;
}
@media (max-width:565px) {
    .form__input{
        width: 238px;
    }
}
